body {
    background-color: rgba(242, 242, 242, 0.8);
    font-family: Arial, sans-serif;
    background-image: url("../images/mesa.png");
    background-size: cover;
    background-position: center;
  }
  
  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
  }
  
  h1 {
    text-align: center;
    color: #000000;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  form {
    text-align: left;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    color: #1d1919;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="number"],
  input[type="file"] {
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  input[type="submit"],
  input[type="reset"] {
    background-color: #009999;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
  }
  
  input[type="submit"]:hover,
  input[type="reset"]:hover {
    background-color: #007f7f;
  }
  
  .precio {
    position: relative;
  }
  
  .precio:before,
  .precio:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 30px;
    height: 2px;
    background-color: #ccc;
  }
  
  .precio:before {
    left: -40px;
  }
  
  .precio:after {
    right: -40px;
  }
  
  .main {
    position: relative;
    z-index: 2;
  }
  
  .main::before {
    content: "";
    background-image: url("../images/mesa.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8;
    z-index: -1;
  }
  .input-field input[type="file"]:focus {
    outline: 2px solid black;
  }