/* header */
body{
  margin: 0;
}

header div{
  display: flex;
  flex-wrap: wrap;
  background-color: #FDDB70;
  justify-content: space-around;
  align-items: center;
}

.logo{
  width: 7rem;
}

.carrito{
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
}
.botones-header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.botones-header button{
  background-color: #FDDB70;
  padding: 0.25rem 0.5rem;
  border: none;
  font-size: 1rem;
  box-sizing: border-box;
}

.miCuenta{
  background-color: #FDDB70;
  padding: 0.25rem;
  border: none;
  font-size: 1rem;
  box-sizing: border-box;
}

/* footer */

footer{
  background-color: #FDDB70;

}

.botonesFooter{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
footer button{
  background-color: #FDDB70;
  padding: 0.25rem 0.5rem;
  border: none;
  font-size: 1rem;
  box-sizing: border-box;
}

.contactoFinPagina{
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.contactoFinPagina a{
  padding: 0.1rem;
}

.contactoWhatsapp{
  display: flex;
  align-items: center;
}

.contactoWhatsapp img{
  height: 30px;
}

.footer-contacto-iconos{
  display: flex;
  align-items: end;
  justify-content: space-between;
}