@import "header-footer.css";




.caja {
    width: 240px; /* ancho del cuadrado */
    height: 440px; /* altura del cuadrado */
    margin: 35px auto; /* centrar horizontalmente */
    box-sizing: border-box; /* incluir borde en el ancho y altura del cuadrado */
    background-color: #fff; /* agregar un fondo blanco al cuadrado */
    text-align: center; /* centrar el contenido verticalmente */
    border: 2px solid black; /* agregar un borde negro de 2px */
    bottom: 30px;
    top: 220px;
    left: 40px;
}

.caja i {
    position: absolute; /* establecer la posición absoluta para que la imagen se superponga al cuadro */
    top: 400px; /* ajustar la posición superior de la imagen */
    left: 175px; /* ajustar la posición izquierda de la imagen */
    width: 45px; /* ajustar el ancho de la imagen */
    height: 45px; /* ajustar la altura de la imagen */
}





.equipo {
    width: 200px; /* ancho del cuadrado */
    height: 200px; /* altura del cuadrado */
    margin: 0 auto; /* centrar horizontalmente */
    box-sizing: border-box; /* incluir borde en el ancho y altura del cuadrado */
    background-color: #fff; /* agregar un fondo blanco al cuadrado */
    text-align: center; /* centrar el contenido verticalmente */
    padding-top: 20px; /* agregar un relleno superior para centrar verticalmente */
    position: relative; /* establecer la posición para el pseudo-elemento */
}

.equipo:before {
    content: ""; /* agregar contenido vacío */
    display: block; /* establecer como bloque */
    padding-top: 100%; /* establecer la relación de aspecto 1:1 */
}

.equipo img {
    max-width: 100%; /* ajustar la imagen al ancho máximo del contenedor */
    height: auto; /* ajustar la altura de la imagen automáticamente */
    position: absolute; /* establecer la posición absoluta para que la imagen se superponga al pseudo-elemento */
    top: 25px; /* establecer la parte superior en la posición inicial */
    left: 0; /* establecer la izquierda en la posición inicial */
    right: 0; /* establecer la derecha en la posición inicial */
    bottom: 0; /* establecer la parte inferior en la posición inicial */
    margin: auto; /* centrar la imagen en el cuadrado */
}
h2{
    font-size: 15px; /* aumentar el tamaño de fuente del precio */
    font-weight: bold; /* hacer que el precio sea negrita */


}
.valor {
    font-size: 19px; /* aumentar el tamaño de fuente del precio */
    font-weight: bold; /* hacer que el precio sea negrita */
    color:rgb(2, 109, 2);
    margin-top: 20px; /* agregar un margen superior al precio */
}

.detalle {
    font-size: 18px; /* aumentar el tamaño de fuente de los detalles */
    margin-top: 10px; /* agregar un margen superior a los detalles */
}









section {
    border: 1px solid #ccc; 
    }
section .equipo {
        border: 1px solid #ccc; 
        }













