body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  background-image: url("../images/fondo\ bicicleta.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
  
  main {
    padding: 20px;
  }
  
  .section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .article-box {
    display: flex;
    flex-direction: row;
    padding: 4rem;
    justify-content: space-between;
 
    width: 100%;
    box-sizing: border-box;
  }
  
  .tituloFoto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 40%;
    box-sizing: border-box;
  }
  
  .tituloFoto h2 {
    font-size: 32px;
    color: #f4f4f4;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    
  }
  
  .tituloFoto img {
    width: 400px;
    height: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .descriptionPrecioCarrito {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    padding: 1rem;
    box-sizing: border-box;
  }
  
  .description {
    font-size: 16px;
    text-align: justify;
    margin: 0;
    margin-top: 20px;
    padding: 20px;
    color: #333333;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  
  .precioCarrito {
    display: flex;
    flex-direction: row; /* Cambia la dirección del flexbox a horizontal */
    justify-content: space-between;
    align-items: center;
    background-color: #c5bfbfae;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 200px;
  }
  
  .precioCarrito .descripcion {
    font-size: 24px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  .precioCarrito .precio {
    font-size: 32px; /* Aumenta el tamaño de la tipografía del precio */
    font-weight: bold;
    color: #FFFFFF;
  }
  
  .precioCarrito .botonAgregar {
    background-color: #FDDB70;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    color: #1f6035;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .precioCarrito .botonAgregar::before {
    content: "\f07a"; /* Agrega el código del icono */
    font-family: "Font Awesome 5 Free"; /* Asegúrate de tener cargada la fuente de Font Awesome */
    font-weight: 900;
    margin-right: 5px;
  }
  
  .precioCarrito .botonAgregar:hover {
    background-color: #ffd060;
  }


  main {
    margin-bottom: 195px; /* Ajusta el valor según sea necesario */
  }

  
  
  /* Media queries para hacer la página responsive */
  @media screen and (max-width: 768px) {
    .article-box {
      flex-direction: column;
      padding: 1rem;
    }
  
    .tituloFoto {
      width: 100%;
      margin-bottom: 1rem;
    }
  
    .descriptionPrecioCarrito {
      width: 100%;
    }
  }


