@import "header-footer.css";
@import "registro.css";
@import "catalogo.css";
@import "contacto.css";
@import "login.css";

html, body { 
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


#alquiler {
    width: 100%; /* ancho completo de la caja */
    max-width: 700px; /* ancho máximo de la caja */
    height: 300px; /* altura de la caja */
    margin: 20px auto; /* margen alrededor de la caja y centrado horizontalmente */
    box-sizing: border-box; /* incluir borde en el ancho y altura de la caja */
    position: relative; /* hacer que la posición sea relativa para que el botón esté dentro de la caja */
    right: 20px;
    bottom: 20px;
}

#alquiler img {
    width: 100%; /* ancho completo de la imagen dentro de la caja */
    height: 100%; /* altura completa de la imagen dentro de la caja */
    object-fit: cover; /* cubrir la caja con la imagen, recortando si es necesario */
}

#alquiler button {
    position: absolute; /* hacer que la posición sea absoluta para que el botón se coloque encima de la imagen */
    bottom: -50px; /* distancia desde la parte inferior de la caja */
    right: 0px; /* distancia desde la parte derecha de la caja */
    background-color: #FDDB70; /* color de fondo del botón */
    color: #fff; /* color del texto del botón */
    border: none; /* eliminar borde del botón */
    padding: 10px 20px; /* agregar espaciado interno al botón */
    font-size: 16px; /* tamaño de fuente del botón */
    border-radius: 5px; /* redondear bordes del botón */
    text-decoration: none; /* eliminar subrayado del enlace del botón */
    
}

/* image-web-2 */


#tours {
    width: 100%; /* ancho completo de la caja */
    max-width: 700px; /* ancho máximo de la caja */
    height: 340px; /* altura de la caja */
    margin: 20px auto; /* margen alrededor de la caja y centrado horizontalmente */
    box-sizing: border-box; /* incluir borde en el ancho y altura de la caja */
    position: relative; /* hacer que la posición sea relativa para que el botón esté dentro de la caja */
    right: 20px;
    top: 15px;
}

#tours img {
    width: 100%; /* ancho completo de la imagen dentro de la caja */
    height: 100%; /* altura completa de la imagen dentro de la caja */
    object-fit: cover; /* cubrir la caja con la imagen, recortando si es necesario */
}

#tours button {
    position: absolute; /* hacer que la posición sea absoluta para que el botón se coloque encima de la imagen */
    bottom: -50px; /* distancia desde la parte inferior de la caja */
    right: 0px; /* distancia desde la parte derecha de la caja */
    background-color: #FDDB70; /* color de fondo del botón */
    color: #fff; /* color del texto del botón */
    border: none; /* eliminar borde del botón */
    padding: 10px 20px; /* agregar espaciado interno al botón */
    font-size: 16px; /* tamaño de fuente del botón */
    border-radius: 5px; /* redondear bordes del botón */
    text-decoration: none; /* eliminar subrayado del enlace del botón */
    
}

/* logo Trek */


#trekoficial {
    width: 100%; /* ancho completo de la caja */
    max-width: 400px; /* ancho máximo de la caja */
    height: 200px; /* altura de la caja */
    margin: 20px auto; /* margen alrededor de la caja y centrado horizontalmente */
    box-sizing: border-box; /* incluir borde en el ancho y altura de la caja */
    position: relative; /* hacer que la posición sea relativa para que el botón esté dentro de la caja */
    right: 20px;
    top: 15px;
}

#trekoficial img {
    width: 100%; /* ancho completo de la imagen dentro de la caja */
    height: 100%; /* altura completa de la imagen dentro de la caja */
    object-fit: cover; /* cubrir la caja con la imagen, recortando si es necesario */
}

/* Logo Shimano */


#shimano {
    width: 100%; /* ancho completo de la caja */
    max-width: 400px; /* ancho máximo de la caja */
    height: 200px; /* altura de la caja */
    margin: 20px auto; /* margen alrededor de la caja y centrado horizontalmente */
    box-sizing: border-box; /* incluir borde en el ancho y altura de la caja */
    position: relative; /* hacer que la posición sea relativa para que el botón esté dentro de la caja */
    right: 20px;
    top: 15px;
}

#shimano img {
    width: 100%; /* ancho completo de la imagen dentro de la caja */
    height: 100%; /* altura completa de la imagen dentro de la caja */
    object-fit: cover; /* cubrir la caja con la imagen, recortando si es necesario */
}

h2 {
    text-align: center;
    font-size: 18;
    position: relative;
    top: 20px;
}

div {
    display: flex;
    
}

