@import "header-footer.css";
@import "registro.css";
@import "catalogo.css";
@import "contacto.css";

html, body { 
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
