
.sec_tours {

    width: 60%;
    display:flex ;
    flex-direction: column;
    text-align: left;
    margin-left: 30px;
}
section {

display: flex;
justify-content: center;


}

.mapa {
    top: 60%;
    position: relative;
    right: 400px;
    width: 400px;
    height: 600px;
    border: 2px solid black;
    


}
/* /*queries*/


@media (min-width: 0px) and (max-width: 760px){

    .sec_tours{
        flex-direction: column;
        font-size: small;
        }
}

@media (min-width: 761px) and (max-width: 1023px){

    .sec_tours{
        flex-direction: column;
        font-size: large;
        padding-right: 50px;
        }
}

@media (min-width: 1024px) and (max-width: 2000px){

    .sec_tours{
        flex-direction: column;
        font-size: medium;
        padding-right: 20%;
        }
}
