
.sec_tours {

    width: 60%;
    display:flex ;
    flex-direction: column;
    text-align: left;
}
section {

display: flex;
justify-content: center;


}

/* /*queries*/

@media (max-width: 900px) {

    .article-box{
        flex-direction: column;
    }
    .descriptionPrecioCarrito{
        width: 100%;
    }
}
@media (max-width: 600px) {
.tituloFoto h2{
    font-size: 30px;
    }
}