body {
    background-color: rgba(242, 242, 242, 0.8);
    font-family: Arial, sans-serif;
  }
  
  .article-box {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 2rem;
    width: 100%;
    justify-content: space-between;
    max-width: 1030px;
    border: dashed 2;
  }
  
  .tituloFoto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .tituloFoto h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .tituloFoto img {
    width: 240px;
    height: 240px;
    border: 3px solid #ccc;
    border-radius: 50%;
  }
  
  .descriptionPrecioCarrito {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .description {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .precioCarrito {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
  }
  
  .descriptionPrecioCarrito a {
    text-decoration: none;
  }
  
  .descriptionPrecioCarrito button {
    background-color: #009999;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
    margin: 5px;
  }
  
  .descriptionPrecioCarrito button:hover {
    background-color: #007f7f;
  }
  /* Estilos del footer */
footer {
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
    top:200px;
  }
  
  /* Ajuste del espacio en blanco */
  footer p {
    margin: 10;
  }
  main {
    margin-bottom: 220px; /* Ajusta la cantidad de margen inferior según tus necesidades */
  }
  