<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('./partials/head',{cssSheet:"carritoDeCompras"})%>
<body>
  <!-- header -->
  <%- include('./partials/header') %>

  <main>
    <header>
      <span>Carrito de Compras <b>®_GRAVITY_®</b></span>
    </header>
    <main>
      <div class="page-title">Mi carrito</div>
      <div class="content">
        <section>
          <table>
            <thead>
              <tr>
                <th>Producto</th>
                <th>Precio</th>
                <th>cantidad</th>
                <th>Total</th>
                <th>-</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="product">
                    <img src="..//images/trek/Supercaliber9.jpg" alt="" />
                    <div class="info">
                      <div class="name">TREK SuperCaliber 9</div>
                      <div class="category">®_Bicicletas_®</div>
                    </div>
                  </div>
                </td>
                <td>usd $12.000</td>
                <td>
                  <div class="qty">
                    <button><i class="bx bx-minus"></i></button>
                    <span>2</span>
                    <button><i class="bx bx-plus"></i></button>
                  </div>
                </td>
                <td>usd $24.000</td>
                <td>
                  <button class="remove"><i class="bx bx-x"></i></button>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="product">
                    <img src="..//images/trek/trek2.jpg" alt="" />
                    <div class="info">
                      <div class="name">TREK Marlin 7</div>
                      <div class="category">®_Bicicletas_®</div>
                    </div>
                  </div>
                </td>
                <td>usd $5.000</td>
                <td>
                  <div class="qty">
                    <button><i class="bx bx-minus"></i></button>
                    <span>2</span>
                    <button><i class="bx bx-plus"></i></button>
                  </div>
                </td>
                <td>usd $10.000</td>
                <td>
                  <button class="remove"><i class="bx bx-x"></i></button>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="product">
                    <img src="../images/trek/trek3.jpg" alt="" />
                    <div class="info">
                      <div class="name">TREK Marlin 5</div>
                      <div class="category">®_Bicicletas_®</div>
                    </div>
                  </div>
                </td>
                <td>usd $3.500</td>
                <td>
                  <div class="qty">
                    <button><i class="bx bx-minus"></i></button>
                    <span>2</span>
                    <button><i class="bx bx-plus"></i></button>
                  </div>
                </td>
                <td>usd $7.000</td>
                <td>
                  <button class="remove"><i class="bx bx-x"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </section>
        <aside>
          <div class="box">
            <header>Resumen de compra</header>
            <div class="info">
              <div><span>Sub-total</span><span>usd $41.000</span></div>
              <div><span>impuesto? JA </span><span></span></div>
              <div>
                <button>
                  Adicionar cupon de descuento
                  <i class="bx bx-right-arrow-alt"></i>
                </button>
              </div>
            </div>
            <footer>
              <span>Total</span>
              <span>
                usd $41.000</span>
            </footer>
          </div>
          <button>Finalizar Compra</button>
        </aside>
      </div>
  </main>
  <!-- footer -->
  <%- include('./partials/footer') %>
</body>
</html>