<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>®_Bicicletas_®</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" 
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    
        <!--Link CSS  -->
    <link rel="stylesheet" href="../css/catalogo.css">
    <!-- <link rel="stylesheet" href="../css/style.css"> -->
    

</head>
<body>
    <header>  
        <div >
            <img class="logo" src="../images/logo.jpg" alt="logo y barra amarilla">
            </div>

        <div id="banner">
        <img src="..//images/banner-nuevo.jpg" id="img-banner">
        </div>
                



        <nav>  
        <ul>
            <li><a href="catalogo.html" >Bicicletas</a></li>
                
            <li><a href="catalogo.html" >Indumentaria</a></li>
                
            <li><a href="catalogo.html" >Repuestos</a></li>
                
            <li><a href="catalogo.html" >Tours</a></li>
                
            <li><a href="catalogo.html" >Rental</a></li> 
        </ul> 
    </nav> 
    <div>  
        </div>
    </header>
    
    
    
    
    <main>  
    
    <section>
            <article class="bici1">
                <img src="../images/trek/Supercaliber9.jpg" alt="">
                <p>Trek SuperCaliber 9.7</p>
                <p>Arriba estan las Trek.</p>
                <a href="" class="link-bici">Leer más</a>
            </article>
            <article class="bici">
                <img src="../images/trek/trek2.jpg" alt="">
                <p>2do articulo</p>
                <p>Ojo con las Class</p>
                <a href="" class="link-bici">Leer más</a>
            </article>
            <article class="bici">
                <img src="../images/trek/trek3.jpg" alt="">
                <p>3r articulo</p>
                <p>vamos por el tercero.</p>
                <a href="" class="link-bici">Leer más</a>
            </article>
            <article class="bici">
                <img src="../images/trek/trek4.jpg" alt="">
                <p>4ta bici</p>
                <p>corregir link de img.</p>
                <a href="" class="link-bici">Leer más</a>

            </article> 
        </div>
    </section>
</main>
<footer>
    <ul>   
        <li>
            <a href="contacto.html">Contacto</a>
        </li>
        <li>
            <a href="contacto.html">Contacto</a>
        </li>
        <li>
            <a href="contacto.html">Contacto</a>
        </li>
        <li>
            <a href="contacto.html">Contacto</a>
        </li>
        <li>
            <a href="contacto.html">Contacto</a>
        </li>
    </ul>
</div>
</footer>
</body>
</html> 