<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <main>  
    
    </section>
            <article class="bici">
                <img src="/public/images/trek/trek1.webp" alt="">
                <p>Título de Trek</p>
                <p>Arriba estan las Trek.</p>
                <a href="" class=" ">Leer más</a>
            </article>
            <article class="bici">
                <img src="assets/img/post-2.png" alt="">
                <p>2do articulo</p>
                <p>Ojo con las Class</p>
                <a href="" class="blogs-button">Leer más</a>
            </article>
            <article class="bici">
                <img src="assets/img/post-3.png" alt="">
                <p>3r articulo</p>
                <p>vamos por el tercero.</p>
                <a href="" class="bici">Leer más</a>
            </article>
            <article class="bici">
                <img src="assets/img/post-1.png" alt="">
                <p>4ta bici</p>
                <p>corregir link de img.</p>
                <a href="" class="blogs-button">Leer más</a>
            </article>
            <article class="bici">
                <img src="assets/img/post-2.png" alt="">
                <p>5ta bici</p>
                <p>nlog button es para direccionar el "leer mas".</p>
                <a href="" class="blogs-button">Leer más</a>
            </article> 
        </div>
    </section>
</main> -->
<footer>
            <p class="p p6">000000</p>
            <p class="p p7">111111</p>
            <p class="p p8">222222</p>
            <p class="p p9">333333</p>
            <p class="p p10">444444</p>
</footer>
</body>
</html>