<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/contacto.css">
  <title>Contacto</title>
</head>
<body>
  
  <header>
    <div>
      <!--logo-->
      <img class="logo" src="/images/logo.svg" alt="logo">
      <!-- botones header -->
      <div class="botones-header">
         <button>Bicicletas</button>
         <button>Indumentaria</button>
         <button>Repuestos</button>
         <button>Tours</button>
         <button>Rental</button>
      </div>
      <!-- carrito de compras -->
      <div>
        <img class="carrito" src="/images/carritoCompras.png" alt="carrito de compras">
      </div>
      <div>
        <button class="miCuenta">Mi cuenta</button>
      </div>
    </div>
    <img width="100%" src="/images/banner-nuevo.jpg" alt="">
  </header>
  
</body>
</html>