<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('./partials/head',{cssSheet:"copy"})%>

<body>
    <!-- header -->
    <%- include('./partials/header') %>
    
        <h1>Copyright © 2023</h1>

        <div>
            <h2>Prohibiciones </h2>
            <p> <b>Gravity Bikes</b> se reserva todos los derechos sobre la presente pagina, los productos ofrecidos y forma de comercialización</p>
            <p>“Queda expresamente prohibida, sin la autorización escrita de los titulares del copyright, bajo las sanciones establecidas por las leyes,
                 la reproducción total o parcial de esta obra por cualquier medio o procedimiento, comprendidas la reprografía y el tratamiento informático”.</p>
        </div>
        
    <!-- footer -->
    <%- include('./partials/footer') %>

</body>
</html>