<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Copy-rights</title>

    <!--Link CSS  -->    
    <link rel="stylesheet" href="../css/copy.css"> 
    <link rel="stylesheet" href="../css/style.css"> 
</head>
<body>
    <!-- header -->
    <%- include('./partials/header') %>
    
        <h1>Copyright © 2023</h1>

        <div>
            <h2>Prohibiciones </h2>
            <p> <b>Gravity Bikes</b> se reserva todos los derechos sobre la presente pagina, los productos ofrecidos y forma de comercialización</p>
            <p>“Queda expresamente prohibida, sin la autorización escrita de los titulares del copyright, bajo las sanciones establecidas por las leyes,
                 la reproducción total o parcial de esta obra por cualquier medio o procedimiento, comprendidas la reprografía y el tratamiento informático”.</p>
        </div>
        
    <!-- footer -->
    <%- include('./partials/footer') %>

</body>
</html>