<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('./partials/head',{cssSheet:"registro"})%>
<body>
  <!-- header -->
  <%- include('./partials/header') %>
    <main>  
        <form method="post" action="/catalogo/">
            <p>
                <input type="text" id="name" name="name" placeholder="Producto" >
            </p>
            <p>
                <input type="text" id="color" name="color" placeholder="Color">
            </p>
            <p>
                <input type="number" id="precio" name="precio" placeholder="Precio">
            </p>
                
            <p>
                <input type="text" id="descripcion" name="descripcion" placeholder="Descripcion">
            </p>
            
            <p>
                <select name="categoria" id="categoria">
                    <option value="select">Seleccionar</option>
                    <option value="Bicicleta">Bicicleta</option>
                    <option value="Indumentaria">Indumentaria</option>
                    <option value="Acesorios">Accesorios</option>
                </select>
            </p>

            <!-- <input type="file" name="Foto"> -->

            
            <p>
                <input id="ingreso" type="submit" value="Crear"> </input>
            </p>
            
        </form>

    </main>
    <!-- footer -->
    <%- include('./partials/footer') %>
</body>
</html>