<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('./partials/head',{cssSheet:"home"})%>

<body>
    <!-- header -->
    <%- include('./partials/header') %>
    
    <main>  
    
        <section>
          <div class="container">
            <ul class="slider">
              <li id="slide1">
                <a href="rental"> <img src="../images/alquileres.jpg" ></a>
              </li>
              <li id="slide2">
                <a href="tours"><img src="../images/tours..jpg" ></a>
              </li>
            </ul>
          
            <ul class="menu">
              <li>
                <a href="#slide1">1</a> 
              </li>
              <li>
                <a href="#slide2">2</a> 
              </li>

            </ul>
          </div>
               <!-- <article id="alquiler" >                                            
                    <img src="../images/alquileres.jpeg" alt="imagen-web-1">
                    <a href="catalogo"><button>ALQUILERES</a>
                </article>
              
              
                <article id="tours">
                    <img src="../images/tours..jpg" alt="imagen-web-2">
                    <a href="catalogo"><button>TOURS</a>
                </article>-->
                
              <h2>Somos Tienda Oficial</h2>
              <div class="flex-container">
              

                <article id="trekoficial">
                    <img src="../images/trekweb.png" alt="imagen-web-3">
                  </article>
                    
                <article id="shimano">
                    <img src="../images/shimanoweb.jpg" alt="imagen-web-3">
                
                </article>
              </div>
            </div>
        </section>
    </main>
    <!-- footer -->
    <%- include('./partials/footer') %>
</body>
</html>