<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('./partials/head',{cssSheet:"home"})%>

<body>
    <!-- header -->
    <%- include('./partials/header') %>
    
    <main>  
    
        <section>
          
          <div id="container">
            
            <ul class="slider">
              <li id="slide1">
                <h1>ALQUILERES</h1>
                <a href="rental">
              <img src="../images/rentall.jpg">
              </a>
              </li>
              <li id="slide2">
                <h1>TOURS</h1>
                <a href="tours">
              <img src="../images/Rental.jpg" >
                </a>
              </li>
              <li id="slide3">
                <h1>PASEO</h1>
                <a href="tours">
                <img src="../images/rental2.jpg">
                </a>
              </li>
            </ul>
          
            <ul id="menu">
              <li>
                  <a href="#slide1">1</a> 
              </li>
              <li>
                  <a href="#slide2">2</a> 
              </li>
              <li>
                <a href="#slide3">3</a> 
              </li>

            </ul>
          </div>
               <!-- <article id="alquiler" >                                            
                    <img src="../images/alquileres.jpeg" alt="imagen-web-1">
                    <a href="catalogo"><button>ALQUILERES</a>
                </article>
              
              
                <article id="tours">
                    <img src="../images/tours..jpg" alt="imagen-web-2">
                    <a href="catalogo"><button>TOURS</a>
                </article>-->
                
              <h2 id="tienda">Somos Tienda Oficial</h2>
              <div class="flex-container">
              

                <article id="trekoficial">
                    <img src="../images/trekweb.png" alt="imagen-web-3">
                  </article>
                    
                <article id="shimano">
                    <img src="../images/shimanoweb.jpg" alt="imagen-web-3">
                
                </article>
              </div>
            </div>
        </section>
    </main>
    <!-- footer -->
    <%- include('./partials/footer') %>
</body>
</html>