<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Parametros Web -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/home.css">
    

    <!-- Font  -->
    

    <title>®_GRAVITY_®</title>
    <style>
    </style>
</head>
<body>
  <header>
    <div>
      <!--logo-->
      <a href="/"> <img class="logo" src="/images/logo.jpg" alt="logo"> </a>
      <!-- botones header -->
      <div class="botones-header">
        <a href="catalogo"><button>Bicicletas</button></a>
        <a href="indumentaria"><button>Indumentaria</button></a>
        <a href="repuesto"><button>Repuestos</button></a>
        <a href="tours"><button>Tours</button></a>
        <a href="rental"><button>Rental</button></a>
        <a href="login"><button>Login</button></a>
      </div>
      <!-- carrito de compras -->
      <div>
        <img class="carrito" src="/images/carritoCompras.png" alt="carrito de compras">
      </div>
      <!-- boton mi cuenta -->
      <div>
        <a href="registro"><button class="miCuenta">Crear cuenta</button></a>
      </div>
    </div>
    <!-- imagen banner -->
    <img width="100%" src="/images/banner-nuevo.jpg" alt="">
  </header>
    <main>  
    
        <section>
          <div class="container">
            <ul class="slider">
              <li id="slide1">
                <a href="rental"> <img src="../images/alquileres.jpg" ></a>
              </li>
              <li id="slide2">
                <a href="tours"><img src="../images/tours..jpg" ></a>
              </li>
            </ul>
          
            <ul class="menu">
              <li>
                <a href="#slide1">1</a> 
              </li>
              <li>
                <a href="#slide2">2</a> 
              </li>

            </ul>
          </div>
               <!-- <article id="alquiler" >                                            
                    <img src="../images/alquileres.jpeg" alt="imagen-web-1">
                    <a href="catalogo"><button>ALQUILERES</a>
                </article>
              
              
                <article id="tours">
                    <img src="../images/tours..jpg" alt="imagen-web-2">
                    <a href="catalogo"><button>TOURS</a>
                </article>-->
                
              <h2>Somos Tienda Oficial</h2>
              <div>

                <article id="trekoficial">
                    <img src="../images/trekweb.png" alt="imagen-web-3">
                  </article>
                    
                <article id="shimano">
                    <img src="../images/shimanoweb.jpg" alt="imagen-web-3">
                
                </article>
              </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="botonesFooter">
          <a href="contacto"><button>Contactanos</button></a>
          <a href="terminos"><button>Términos y condiciones</button></a>
          <a href="politicas"><button>Políticas de cambio y devoluciones</button></a>
          <a href="copy"><button>© Gravity Bicycles</button></a>
        </div>
        <div class="footer-contacto-iconos">
          <div class="contactoFinPagina">
            <a>Dirección</a>
            <a href="https://goo.gl/maps/8PNt1EGz1CT6ab7D7">Av. Gral. Miguel de Azcuenaga 633 Morón, Bs As</a>
            <div class="contactoWhatsapp">
              <a href="https://api.whatsapp.com/send/?phone=5491125026198"><img src="/images/iconsWhatsapp.svg" alt="icono whatsapp"></a>
              <a>+54 9 11 2502-6198</a>
            </div>
            <a>Lunes a Viernes de 10 - 14 y de 15 - 19 hs, Sábados de 9 - 13</a>
          </div>
          <div>
            <div>
              <img src="/images/icons8-facebook.svg" alt="icono de facebook">
              <img src="/images/icons8-instagram.svg" alt="icono de instagram">
            </div>  
          </div>
        </div>
    </footer>
</body>
</html>