<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('./partials/head',{cssSheet:"login"})%>
<body>
  <!-- header -->
  <%- include('./partials/header') %>
  
  <main>
    <div class="formulario">
      <h1>Inicio de Sesion</h1>
      <form method="post" action="login">
        <label><b>Correo electronico</b></label>
        <% if (locals.errors && errors.correo) { %>
          <br>
          <div class="text-danger">
          <%= errors.correo.msg %>
        </div>
        <% } %>
        <div class="username">
          <input type="text" name="email" class="form-control">
        </div>
        <label><b>Contrase単a</b></label>
        <div class="username">
          <input type="password" name="password" class="form-control">
          <label>Contrase単a</label>
        
      </div>
        <div class="recordar">多Olvido su contrase単a?</div>
        <input type="submit" value="Iniciar">
        <div class="registrate">
          Quiero hacer el <a href="registro">Registro</a>
        </div>
        </div>
      </form>
    </div>
  </main>

  <!-- footer -->
  <%- include('./partials/footer') %>
  
</body>
</html>