<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('./partials/head',{cssSheet:"login"})%>
<body>
  <!-- header -->
  <%- include('./partials/header') %>
  
  <main>
    <div class="formulario">
      <h1>Inicio de Sesion</h1>
      <form method="post">
        <div class="username">
          <input type="text" required>
          <label>Nombre del usuario</label>
        </div>
        <div class="username">
          <input type="text" required>
          <label>Contraseña</label>
        </div>
        <div class="recordar">¿Olvido su contraseña?</div>
        <input type="submit" value="Iniciar">
        <div class="registrate">
          Quiero hacer el <a href="registro">Registro</a>
        </div>
      </form>
    </div>
  </main>

  <!-- footer -->
  <%- include('./partials/footer') %>
  
</body>
</html>