<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/login.css">
  <title>Contacto</title>
</head>
<body>
  <header>
    <div>
      <!--logo-->
      <a href="/"> <img class="logo" src="/images/logo.jpg" alt="logo"> </a>
      <!-- botones header -->
      <div class="botones-header">
        <a href="catalogo"><button>Bicicletas</button></a>
        <a href="indu.html"><button>Indumentaria</button></a>
        <a href="repuestos.html"><button>Repuestos</button></a>
        <a href="tours"><button>Tours</button></a>
        <a href="rental"><button>Rental</button></a>
        <a href="login"><button>Login</button></a>
      </div>
      <!-- carrito de compras -->
      <div>
        <img class="carrito" src="/images/carritoCompras.png" alt="carrito de compras">
      </div>
      <!-- boton mi cuenta -->
      <div>
        <a href="registro"><button class="miCuenta">Crear cuenta</button></a>
      </div>
    </div>
    
</header>
  <main>
    <div class="formulario">
      <h1>Inicio de Sesion</h1>
      <form method="post">
        <div class="username">
          <input type="text" required>
          <label>Nombre del usuario</label>
        </div>
        <div class="username">
          <input type="text" required>
          <label>Contraseña</label>
        </div>
        <div class="recordar">¿Olvido su contraseña?</div>
        <input type="submit" value="Iniciar">
        <div class="registrate">
          Quiero hacer el <a href="registro">Registro</a>
        </div>
      </form>
    </div>
  </main>
  
</body>
</html>