<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('./partials/head',{cssSheet:"login"})%>
<body>
  <!-- header -->
  <%- include('./partials/header') %>
  
  <main>
    <div class="formulario">
      <h1>Inicio de Sesion</h1>
      <form method="post" action="/login">
        <label><b>Correo electronico</b></label>
        <div class="username">
          <input type="text" name="email" class="form-control">
          <% if (locals.errors && errors.email) { %>
            <div class="text-danger"></div>
            <%= errors.email.msg %>
          </div>
          <% } %>
        </div>
        <label><b>Contrase単a</b></label>
        <div class="username">
          <input type="password" required>
          <label>Contrase単a</label>
        </div>
        <div class="recordar">多Olvido su contrase単a?</div>
        <input type="submit" value="Iniciar">
        <div class="registrate">
          Quiero hacer el <a href="registro">Registro</a>
        </div>
      </form>
    </div>
  </main>

  <!-- footer -->
  <%- include('./partials/footer') %>
  
</body>
</html>