<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Politicas</title>

    <!--Link CSS  -->    
    <link rel="stylesheet" href="../css/politicas.css"> 
    <link rel="stylesheet" href="../css/style.css"> 
</head>
<body>
    <!-- header -->
    <%- include('./partials/header') %>
    
        <h1>Política de cambios, devoluciones y garantía de la tienda <strong>Gravity Bikes</strong></h1>

        <div class="otros">
            <h2 id="alcance">Alcance </h2>
            <p id="alcancep" > Este documento aplica para todos los Usuarios que realicen solicitudes de cambio,
                 devolución o garantía por la compra de bienes en <b>Gravity Bikes</b> </p>
            
        </div>
        <div class="otros">
            <section>
            <h2>Definiciones </h2>
            <p><strong> Garantía Legal: </strong> La garantía legal procede cuando el producto ofrecido por el productor y/o proveedor, no satisfaga las condiciones de (i) calidad, (ii) idoneidad y/o (iii) seguridad, y lo aplicable de acuerdo con la regulación vigente. </p>
                <ul>
                    <li>
                    Proveedor: <b>Gravity Bikes</b> tienda de bicletas y repuestos
                    </li>
                    <li>
                    Usuario: Toda persona natural o jurídica que, como destinatario final, adquiera, disfrute o utilice los productos que son vendidos por <b>Gravity Bikes</b>. 
                    </li>
                    <li>
                    Producto: Bienes que son vendidos por <b>Gravity Bikes</b> (en adelante el “Producto”). 
                    </li>
                    <li>
                    Régimen Aplicable: Las disposiciones de la Ley 1480 de 2011 (Estatuto del Consumidor), normas complementarias y todas sus modificaciones y/o adiciones. 
                    </li>
                    <li>
                    Reclamación: Solicitud que realiza un usuario con el objeto de hacer efectivos los derechos que le asisten y que se encuentran contemplados en la normatividad aplicable. 
                    </li>
                    <li>
                    Retracto: Es la facultad unilateral del usuario de terminar un contrato de compraventa a su arbitrio y sin que el proveedor deba estar de acuerdo o se lo permita, es decir, es una facultad para que el usuario pueda arrepentirse de la compra. 
                    </li>
                    <li>
                    Reversión De Pago: Es una figura contemplada para aquellos casos en que se realiza venta de bienes y servicios, a través de mecanismos de comercio electrónico utilizando para realizar el pago cualquier instrumento de tipo electrónico, está encaminada a devolver la transacción a un estado tal, como si no hubiera ocurrido. 
                    </li>
                    <li>
                    Ventas A Distancia: Se consideran ventas a distancia las realizadas sin que el usuario tenga contacto directo con el producto que adquiere que se dan por medios tales como correo, teléfono, catalogo, comercio electrónico o con la utilización de cualquier otra técnica de comunicación a distancia. 
                    </li>
                </ul>
            </section>
            <section>
                <h2>Cambio de producto: </h2>
                <p>El Usuario tiene derecho a cambiar un Producto si se evidencia alguna de las siguientes causas: 
                </p>    
                    <ul>
                        <li>
                            <strong> Averías: </strong> Todo daño o rotura, que impida, afecte o perjudique, la imagen y el funcionamiento del Producto adquirido. 
                        </li>
                        <li>
                            <strong>Productos repetidos: </strong>Si dentro de una misma compra se encuentran dos o más Productos con las mismas características físicas, que no fueron solicitados al momento de la compra. 
                        </li>
                        <li>
                            <strong>Mala calidad: </strong>Todo defecto de fábrica, no por mal uso, que afecte el correcto funcionamiento y la imagen del Producto adquirido. 
                        </li>
                        <li>
                            <strong>Faltantes:</strong> Entrega incompleta del Producto. 
                        </li>
                    </ul>
                 
            </section>
            <section>
                <h2> Medios para solicitar un cambio:</h2>
                <p>Para solicitar un cambio se debe establecer el canal por el cual el Usuario realizó la compra y proceder según corresponda:  
                </p>
                <ul>
                    <li>
                        <strong>No presenciales:</strong>  Internet, Call center, Redes. Si el Usuario realizó su compra por cualquiera de estos canales de venta, podrá realizar la debida solicitud de cambio comunicándose a la línea telefónica XXX XX XX, 
                        a través de la cual se le generará un número de radicado con el cual se gestionará el reclamo.  
                    </li>
                    <br>
                    <li>
                        <strong> Presencial:</strong>  si el Usuario realizó la compra en cualquiera de nuestros centros de ventas presenciales deberá realizar la reclamación en el momento de que el Producto es entregado y en ese mismo instante deberá 
                        revisarlo para identificar causas para solicitar el cambio, debido a que una vez retirado el producto del Centro de venta no aplicará reclamaciones. 
                    </li>
                </ul>
            </section>
        </div>
    <!-- footer -->
    <%- include('./partials/footer') %>

</body>
</html>