<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Parametros Web -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/registro.css">

    <!-- Font  -->

    <title>   ®_GRAVITY_®   </title>
    <style>
    </style>
</head>
<body>
    <!-- Margen con logo y url -->
    <header>
        <a title="Logo" href="/"><img class="logo" src="../images/logo.jpg" alt="logo y barra amarilla"></a>
    <ul class="bnr">
        <ul>                                       
                <li> <a href="catalogo.html" >Bicicletas</a>
                <li> <a href="catalogo.html" >Indumentaria</a>
                <li> <a href="catalogo.html" >Repuestos</a>
                <li> <a href="catalogo.html" >Tours</a>
                <li> <a href="catalogo.html" >Rental</a>
            </li>
        </ul>
        </div>
        <section> 
            <img class="banner" src="../images/banner-nuevo.jpg" alt="banner">
            <br>
        </section>
        
    </header>
    <main>  
        <form method="post">
        <p>
            <input type="text" id="nombre" name="nombre" placeholder="Nombre y apellido" required minlength="5">
        </p>
        <p>
            <input type="text" id="nombre" name="nombreuser" placeholder="Nombre de usuario">
        </p>
        <b><label for="nacimiento" id="fecha">Fecha de nacimiento</label></b>
        <p>
            <input type="date" id="nacimiento" name="nacimiento" placeholder="Nacimiento" required>
        </p>
        <p>
            <input type="text" id="nombre" name="direccion" placeholder="Direccion">
        </p>
        
        
        
        
        <b><label for="Intereses" id="Intereses">Intereses del usuario</label></b>
        <p>
            <input type="checkbox" name="Intereses" value="Bicicletas" class="boton" checked> 
            <label>Bicicletas</label>
            <input type="checkbox" name="Intereses" value="Indumentaria" class="boton" checked> 
            <label>Indumentaria</label>
            <input type="checkbox" name="Intereses" value="Repuestos" class="boton" checked> 
            <label>Repuestos</label>
            <input type="checkbox" name="Intereses" value="Tours" class="boton" checked> 
            <label>Tours</label>
            <input type="checkbox" name="Intereses" value="Rental" class="boton" checked> 
            <label>Rental</label>
        </p>
        </p>
        
            <b><label for="fotoperfil" id="fotoperfil">Ingrese foto perfil del usuario</label></b>
        </p>
        <p>
            <input type="file" id="fotoperfil" name="fotoperfil" accept=".jpg">
        </p>
        <p>        
            <input type="password" id="contraseña" name="contraseña" placeholder="Ingrese su contraseña" required>
        </p>
        <p>        
            <input type="password" id="contraseña" name="contraseña" placeholder="Confirme su contraseña" required>
        </p>
        <p>
            <input id="ingreso" type="submit" value="Enviar"> </input>
        </p>
        <p>
            <input id="ingreso" type="reset" value="Borrar"> </input>
        </p>
        
    </form>

    
        

    </main>
    <footer>
        <ul>   
            <li><a href="catalogo.html">Catalogo</a></li>
            <li><a href="registro">Registro</a></li>
            <li><a href="contacto">Contacto</a></li>
            <li><a href="contacto">Contacto</a></li>
            <li><a href="contacto">Contacto</a></li>
        </ul>
    </div>
    </footer>
</body>
</html>