<!DOCTYPE html>
<html lang="es">
<!-- head -->
<%- include('./partials/head',{cssSheet:"indumentaria"})%>
<body>
    <!-- header -->
    <%- include('./partials/header') %>
    
    <main>  
          <section  style="height: 800px; width: 800px;" > 
            <div class="caja"> 
                <i class="fa-solid fa-cart-plus"></i>
                <div class="equipo">
                <h2>Kit Profesional  MTB</h2>
                <img src="../images/repuestos/repuestos.jpg" alt="img-7">
                <p class="valor">Precio: usd $4.000.-</p>
                <p class="detalle">Kit para mejor el rendimiento de tu MTB</p>
            </div>
        </section>
    </main>
    <!-- footer -->
    <%- include('./partials/footer') %>
</body>
</html>