<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terminos</title>

    <!--Link CSS  -->    
    <link rel="stylesheet" href="../css/terminos.css"> 
    <link rel="stylesheet" href="../css/style.css"> 
</head>
<body>
    <!-- header -->
    <%- include('./partials/header') %>
    
        <h1>Terminos de uso y políticas generales </h1>

        <div>
            <h2 id="servicio">El servicio </h2>
            <p id="serviciop" style="margin-left: 10%; margin-right:10%">El Servicio ofrecido por el Titular permite al Usuario adquiris y rentar bicicletas en diferentes sitios (por ejemplo, sitios web, aplicaciones móviles, etc.) de forma independiente sobre la base de la información indicada por el propio Usuario, utilizando una serie de herramientas tecnológicas. Además, el Titular ofrece un servicio de generación, almacenamiento y actualización online de uno o más tipos de bicicletas. Se excluye cualquier asistencia a los Usuarios en el 
                procedimiento de elección de vehículos o renta o en la redacción de cláusulas personalizadas por parte del personal de <b>Gravity Bikes</b> o cualquier consultor.
                Por tanto, es responsabilidad exclusiva del Usuario elegir las cláusulas adecuadas a una situación o actividad concreta, para verificar la conformidad de los documentos generados con la legislación vigente, así como para cumplir con todas las disposiciones legales aplicables a la actividad.
                Teniendo en cuenta lo anterior, el Servicio ofrecido por <b>Gravity Bikes</b> no puede ser considerado, ni reemplaza el asesoramiento y venta en sitio ofrecido por un consultor o experto</p>
            
        </div>
        <div class="otros">
            <section>
            <h2>Venta </h2>
            <p>Durante el proceso de generación de la ventas, es responsabilidad exclusiva de los Usuarios realizar las elecciones adecuadas según su caso o 
                actividad concreta y posteriormente verificar que los elementos adquiridos cumplan con las disposiciones legales aplicables. <b>Gravity Bikes</b> no proporciona ninguna ayuda a este respecto.</p>
            </section>
            <section>
                <h2>Devolución de dineros </h2>
                <p>Los dineros generados se pueden almacenar en servidores de <b>Gravity Bikes</b> e incorporarse a un sitio web o aplicación mediante una serie de herramientas de integración/incrustación. 
                    El código de integración de <b>Gravity Bikes</b> contiene un contador de visitas que, sin embargo, no recopila datos personales del usuario final.</p> 
            </section>
            <section>
                <h2>Uso de vehículos</h2>
                <p>Los vehículos adquiridos solo se pueden usar mediante el para el fin que fueron destinados. No se permite vender o comprar los vehículos para usos ilícitos.  
                    Las instrucciones y consejos dentro del generador tienen el único propósito de facilitar el uso del propio generador por 
                    parte de los Usuarios y no contienen ninguna información relacionada con uno o más contextos específicos. </p>
            </section>
        </div>
    <!-- footer -->
    <%- include('./partials/footer') %>

</body>
</html>