<!DOCTYPE html>
<html lang="en">
<head>
    <title>Productos</title>
<link rel="stylesheet" href="/public/css/login.css">
<body>
    <%- include('./partials/header') %>
    <header>
        <p>crear Productos</p>
    </header>
    <nav>
        <ul>
<li>
    <a href="/product/crear">crear Productos</a>
</li>
<li>
    <a href="/product/"></a>
</li>
        </ul>
    </nav>
</body>
</head>
<body>
    
</body>
</html>