<!DOCTYPE html>
<html lang="es">
<!-- head -->
<%- include('./partials/head',{cssSheet:"tours"})%>
<body>
    <!-- header -->
    <%- include('./partials/header') %>

    <main>  
        <section>
            <div class="sec_tours" >
                    <h3>Rental bike 7 lagos (auto guiado) </h3>
                    <p>Nuestra propuesta consiste en alquilarte 칰nicamente el equipamiento ( bici + carro + kit de reparaci칩n y seguridad). No es un viaje/tour/excursi칩n/aventura organizada por Adventure Store.
                    Cada uno tiene que diagramar  su viaje en la fecha y forma que quiera, ya que no es un tour organizado por Adventure Store.
                    </p>
                    <p >Tenemos varias opciones para realizar la traves칤a de los 7 lagos en bicicleta. Partiendo  desde San Martin de los Andes.</p>
                    <p >*NOTA: Por el momento solo tenemos salida desde San Martin de los Andes.&nbsp;</p>
                    <p>游뛀Opci칩n 3 d칤as (2 noches): $21.900</p>
                    <p>游뛀Opci칩n 4 d칤as (3 noches): $25.900</p>
                    <p>游뛀Opci칩n 5 d칤as (4 noches): $29.900</p>
                    <p></p>
                    <p><u>TODAS LAS OPCIONES INCLUYEN:</u></p>
                    <p>游릴 <strong>Bike:</strong> TREK MARLIN 7 2023.
                    驕넶rasmisi칩n Shimano 2 x 8 
                    驕넵uspensi칩n delantera Sr Suntour 
                    驕넩renos a disco hidraulicos
                    驕Rodado 29".
                    </p>
                    <p>游릴 <strong>Accesorios: </strong>Casco, inflador, c치maras de bicicletas de repuesto, kit de parches , herramientas, candado y chaleco reflectivo (de uso obligatorio durante el trayecto.)</p>
                    <p>游릴 <strong>Bob Trailer:</strong> Reemplaza las alforjas tradicionales  y proporciona mayor estabilidad y capacidad de carga. F치cil de desmontar e incluye bolso estanco a prueba de agua y tierra. Peso m치ximo de carga 12 kg.</p>
                    <p>游릴 <strong>Devoluci칩n en VLA: </strong>Al finalizar el recorrido podr치s entregar todo el equipamiento sin cargos adicionales.</p>
                    <p>Para realizar una reserva es necesario confirmar v칤a WhatsApp:
                    Nombres de cada integrante del grupo, altura, y fecha en la que las bicis ser치n retiradas de nuestro local, como as칤 tambi칠n el n칰mero de comprobante del dep칩sito en concepto de se침a, correspondiente como m칤nimo al <u>50% del total</u>.</p>
                    <p><u>NO INCLUYEN</u>: (Comidas, traslados ni alojamiento)
                    El camino de los 7 lagos est치 situado sobre el extremo oeste de la provincia de Neuqu칠n, es un sinuoso circuito que une a lo largo de 116 km. un conjunto de espejos de agua, bosques, parques nacionales y paisajes de monta침a. Una traves칤a ideal para realizar en bicicleta.
                    No hay fuertes exigencias en el nivel de estado f칤sico y experiencia previa, pero s칤 un m칤nimo de 3 d칤as para disfrutar al m치ximo la magia del camino.</p>
                    <p>Datos de inter칠s sobre distancias entre lagos y camping habilitados:</p>
            </div>
            <div class="mapaDescripcion" > 
                <div class="sieteLagos">
                    <h2>7 lagos distancias en km desde SMA - VLA:</h2>
                    <p>0  km - San Martin de los andes</p>
                    <p>20 km - Punto Panor치mico Arroyo Partido</p>
                    <p>25 km - R칤o Hermoso</p>
                    <p>30 km - Lago Mach칩nico</p>
                    <p>35 km - Lago Hermoso (Camping y dorm칤s)</p>
                    <p>50 km - Lago Falkner (Camping organizado)</p>
                    <p>50 km - Lago Villarino (Camping libre)</p>
                    <p>60 km - Lago Pichi Traful (Camping organizado) </p>
                    <p>75 km - Lago Correntoso (Camping organizado) </p>
                    <p>80 km - Lago Espejo Chico (Camping organizado)</p>
                    <p>80 km - Lago Espejo Grande (Camping libre) </p>
                    <p>85 km - Lago Correntoso </p>
                    <p>110 km - Ciudad Villa La Angostura</p> 
                </div>
                <img class="mapa" src="/images/img-7 lagos.webp" >
                </div>          
                
                
            
            </section>
            <%- include('./partials/footer') %>
    </main>
</body>
