<!DOCTYPE html>
<html lang="es">
<!-- head -->
<%- include('./partials/head',{cssSheet:"tours"})%>
<body>
    <!-- header -->
    <%- include('./partials/header') %>

    <main>  
        <section>
            <!-- //* caja super grande Nº1 *// -->
        
            <div class="sec_tours" >
            
                <!-- Caja Nº2 -->
                <div class="caja2">           
                    <h3>Rental bike 7 lagos (auto guiado) </h3>
                    <p>Nuestra propuesta consiste en alquilarte únicamente el equipamiento ( bici + carro + kit de reparación y seguridad). No es un viaje/tour/excursión/aventura organizada por Adventure Store.
        Cada uno tiene que diagramar  su viaje en la fecha y forma que quiera, ya que no es un tour organizado por Adventure Store.
        </p>
        <p >Tenemos varias opciones para realizar la travesía de los 7 lagos en bicicleta. Partiendo  desde San Martin de los Andes.</p>
        <p >*NOTA: Por el momento solo tenemos salida desde San Martin de los Andes.&nbsp;</p>
        <p>🚩Opción 3 días (2 noches): $21.900</p>
        <p>🚩Opción 4 días (3 noches): $25.900</p>
        <p>🚩Opción 5 días (4 noches): $29.900</p>
        <p></p>
        <p><u>TODAS LAS OPCIONES INCLUYEN:</u></p>
        <p>🟩 <strong>Bike:</strong> TREK MARLIN 7 2023.
        ☑Trasmisión Shimano 2 x 8 
        ☑Suspensión delantera Sr Suntour 
        ☑Frenos a disco hidraulicos
        ☑Rodado 29".
        </p>
        <p>🟩 <strong>Accesorios: </strong>Casco, inflador, cámaras de bicicletas de repuesto, kit de parches , herramientas, candado y chaleco reflectivo (de uso obligatorio durante el trayecto.)</p>
        <p>🟩 <strong>Bob Trailer:</strong> Reemplaza las alforjas tradicionales  y proporciona mayor estabilidad y capacidad de carga. Fácil de desmontar e incluye bolso estanco a prueba de agua y tierra. Peso máximo de carga 12 kg.</p>
        <p>🟩 <strong>Devolución en VLA: </strong>Al finalizar el recorrido podrás entregar todo el equipamiento sin cargos adicionales.</p>
        <p>Para realizar una reserva es necesario confirmar vía WhatsApp:
        Nombres de cada integrante del grupo, altura, y fecha en la que las bicis serán retiradas de nuestro local, como así también el número de comprobante del depósito en concepto de seña, correspondiente como mínimo al <u>50% del total</u>.</p>
        <p><u>NO INCLUYEN</u>: (Comidas, traslados ni alojamiento)
        El camino de los 7 lagos está situado sobre el extremo oeste de la provincia de Neuquén, es un sinuoso circuito que une a lo largo de 116 km. un conjunto de espejos de agua, bosques, parques nacionales y paisajes de montaña. Una travesía ideal para realizar en bicicleta.
        No hay fuertes exigencias en el nivel de estado físico y experiencia previa, pero sí un mínimo de 3 días para disfrutar al máximo la magia del camino.</p>
        <p>Datos de interés sobre distancias entre lagos y camping habilitados:</p>
        <!-- Caja Nº4 -->
        <div class="caja4" > 
        <p>7 lagos distancias en km desde SMA - VLA:</p>
        <p>0  km - San Martin de los andes</p>
        <p>20 km - Punto Panorámico Arroyo Partido</p>
        <p>25 km - Río Hermoso</p>
        <p>30 km - Lago Machónico</p>
        <p>35 km - Lago Hermoso (Camping y dormís)</p>
        <p>50 km - Lago Falkner (Camping organizado)</p>
        <p>50 km - Lago Villarino (Camping libre)</p>
        <p>60 km - Lago Pichi Traful (Camping organizado) </p>
        <p>75 km - Lago Correntoso (Camping organizado) </p>
        <p>80 km - Lago Espejo Chico (Camping organizado)</p>
        <p>80 km - Lago Espejo Grande (Camping libre) </p>
        <p>85 km - Lago Correntoso </p>
        <p>110 km - Ciudad Villa La Angostura</p> 
        <p><strong><a href="contacto" class="btn">Contactanos ›</a>&nbsp;</strong></p>
        <!-- Fin Caja Nº4 -->       
    </div>          
        </div>
        <!-- Fin Caja Nº2 -->
            </div>  
                <!-- Fin de la caja Nº1 -->  
                    <!-- Caja Nº3 -->
        <div class="caja3">
    <!--  <img class="mapa" src="/images/img-7 lagos.webp" > -->
            </div>
            <!-- Fin Caja Nº3 -->
            
            
        
        </section>
