<footer>
    <div class="botonesFooter">
        <a href="/contacto"><button>Contactanos</button></a>
        <a href="/terminos"><button>Términos y condiciones</button></a>
        <a href="/politicas"><button>Políticas de cambio y devoluciones</button></a>
        <a href="/copy"><button>© Gravity Bicycles</button></a>
    </div>
    <div class="footer-contacto-iconos">
        <div class="contactoFinPagina">
        <a>Dirección</a>
        <a href="https://goo.gl/maps/8PNt1EGz1CT6ab7D7">Av. Gral. Miguel de Azcuenaga 633 Morón, Bs As</a>
        <div class="contactoWhatsapp">
            <a href="https://api.whatsapp.com/send/?phone=5491125026198"><img src="/images/iconsWhatsapp.svg" alt="icono whatsapp"></a>
            <a>+54 9 11 2502-6198</a>
        </div>
        <a>Lunes a Viernes de 10 - 14 y de 15 - 19 hs, Sábados de 9 - 13</a>
        </div>
        <div>
        <div>
            <img src="/images/icons8-facebook.svg" alt="icono de facebook">
            <img src="/images/icons8-instagram.svg" alt="icono de instagram">
        </div>  
        </div>
    </div>
</footer>

