<header>
    <div>
      <!--logo-->
      <a href="/"> <img class="logo" src="/images/logo.jpg" alt="logo"> </a>
      <!-- botones header -->
      <div class="botones-header">
        <a href="/catalogo"><button>Bicicletas</button></a>
        <a href="/accesorios"><button>Accesorios</button></a>
        <a href="/tours"><button>Tours</button></a>
        <a href="/rental"><button>Rental</button></a>
        <a href="/catalogo/crearProducto"><button>Crear Producto</button></a>
        <a href="/users/login"><button>Login</button></a>
      </div>
      <!-- carrito de compras -->
      <div>
        <a href="/carro">
          <img class="carrito" src="/images/carritoCompras.png" alt="carrito de compras">
        </a>
      </div>
      <!-- boton mi cuenta -->
      <div>
        <a href="/users/registro"><button class="miCuenta">Crear cuenta</button></a>
      </div>
    </div>
    <!-- imagen banner -->
    <img width="100%" src="/images/NuevoBanner2.jpg" alt="">
  </header>

